.not-only{
    background: url(../assets/img/noise_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
    &__wrap{
        display: flex;
        justify-content: space-between;
        column-gap: 43px;
    }
    &__text-container{
        max-width: 459px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 42px;
        margin-top: 163px;
    }
    &__title{
        font-size: var(--fz-h2-special);
        line-height: var(--lh);
        font-weight: 400;
        color: var(--color-light-xl);
        margin: 0px;
    }
    &__info{
        font-family: "Arial", sans-serif;
        font-size: var(--fz-primary);
        line-height: calc(var(--lh) * 1.21);
        color: var(--color-dark-s);
        margin: 0px;
    }
    &__img-container{
        align-self: flex-end;
        max-width: 698px;
    }
}