:root {
    --color-black: #000;
    --color-white: #fff;
    --color-focus: brown;
    --color-accent: #FD7E08;
    --color-score: #b0e54e;
    --bg-app: cornflowerblue;
    --bg-primary: linear-gradient(#0c141f 40%, #cf33d9 41%, #0c141f 60%);
  }
