.testimonials{
    padding: 144px 0px 180px 0px;
    position: relative;
    overflow-x: clip;
    &__bg-img{
        max-width: 300px;
        &-wrap{
            position: absolute;
            right: -108px;
            bottom: -76px;
            z-index: -1;
            transform: rotate(30deg);
        }
    }
    &__title{
        font-weight: 400;
        font-size: var(--fz-h2-special);
        line-height: var(-lh);
        color: var(--color-main-text);
        text-align: center;
        margin: 0px 0px 49px 0px;
    }
    &-swiper{
        margin-bottom: 29px;
    }
    &-cards{
        margin-bottom: 19px;
    }
    &-card{
        position: relative;
        background-color: #F1F3F2;
        background-clip: padding-box;
        border: solid 1px transparent;
        border-radius: 25px;
        padding: 14px 14px 20px 15px;
        transform: none !important;
        height: auto;
        &::before{
            content: '';
            position: absolute;
            top: 0; 
            right: 0; 
            bottom: 0; 
            left: 0;
            z-index: -1;
            margin: -1px;
            border-radius: inherit;
            background: var(--testimonials-border-bg);
        }
        &__head{
            display: flex;
            grid-gap: 10px;
            margin-bottom: 10px;
            align-items: center;
        }
        &__ava{
            width: 37px;
            height: 37px;
            object-fit: cover;
            border-radius: 50%;
        }
        &__name{
            font-weight: 400;
            font-size: var(--fz-primary);
            line-height: var(--lh);
            color: var(--color-black);
        }
        &__geo{
            font-weight: 300;
            font-size: 15px;
            line-height: var(--lh);
            color: #BDBDBD;
            margin-right: 16px;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                display: block;
                width: 5px;
                height: 5px;
                background-color: #BDBDBD;
                border-radius: 50%;
                right: -12px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &__time{
            font-weight: 300;
            font-size: 15px;
            line-height: var(--lh);
            color: #BDBDBD;
        }
        &__text{
            font-weight: 300;
            font-size: 15px;
            line-height: 120%;
            margin: 0px;
            color: #767474;
        }
    }
}

.testimonials-swiper-scrollbar{
    max-width: 599px;
    height: 8px !important;
    background-color: #F1F3F2 !important;
    border-radius: 5px;
}

.testimonials-swiper-scrollbar-wrap{
    position: relative;
    background: var(--testimonials-border-bg);
    padding: 1px;
    max-width: 599px;
    margin: 0px auto;
    border-radius: 5px;
}

.testimonials-swiper-scrollbar > .swiper-scrollbar-drag {
    background: var(--color-orange); 
    transition: ease 0.5s;
    cursor: pointer;
    &:hover{
        background: var(--color-primary);
    }
}

.btn--testimonials{
    border-radius: 5px;
}
