.header{
    padding: 25px 0px;
    &__list{
        display: flex;
        gap: 15px;
        &-button{
            padding: 5px 10px;
            border: 1px solid var(--color-accent);
            background-color: transparent;
            border-radius: 5px;
            color: var(--color-accent);
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
            transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
            &--active{
                color: var(--color-white);
            }
            &:hover{
                text-shadow: 0 0 10px #8847ff,
                0 0 20px #8847ff,
                0 0 30px #8847ff,
                0 0 40px #8847ff;
                color: var(--color-white)
            }
        }
    }
}