:root {
    --color-dark: #0D0E13;
    --color-white: #FFFFFF;
    --color-focus: #036fc7;
    --color-accent: #A8C445;
    --color-accent-secondary: #adfcff;
    --color-secondary: #5D6798;
    --bg-main: #11131C;
    --color-warning: #FF361B;
}